* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

}

body {
    display: grid;
    min-height: 100vh;
    Font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 5rem; */
}

h1 {
    color: var(--Very-Dark-Blue);
}

.top {
    display: block;
    text-align: center;
    color: var(--Grayish-Blue);
    font-size: 10px;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subcard {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 200px;
    margin: 15px;
    height: 120px;
}

svg {
    margin-left: 7rem;
    display: flex;
    align-items:flex-end ;
}

h2 {
    font-size: 15px;
    color: var(--Very-Dark-Blue);
    font-weight: 600;
}

p {
    font-size: 9px;
    color: var(--Grayish-Blue);
}

.attribution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 11px; 
    margin-top: auto; 
}
    
.attribution a { 
    text-decoration: none;
    color: hsl(228, 45%, 44%); 
}